<!doctype html>
<html th:replace="~{layout/base_layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furnizor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<main>

    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="p-3 p-lg-5 pt-lg-3">

                <h1>Tabela Furnizori</h1>
                <br>
                <table class="table table-bordered border-primary table-striped table-hover">

                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nume</th>
                        <th scope="col">Adresa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="furnizor: ${furnizori}">
                        <td th:text="${furnizor.getIdf()}"></td>
                        <td th:text="${furnizor.getNumef()}"></td>
                        <td th:text="${furnizor.getAdresa()}"></td>
                    </tr>

                    </tbody>
                </table>

                <br>

                <h2>Adaugare furnizor</h2>
                <form action="#" th:action="@{/furnizor_nou}" th:object="${furnizor_nou}" method="post">
                    <div class="mb-3">
                        <label for="idf" class="form-label">Id</label>
                        <input th:field="*{idf}" type="text" class="form-control" id="idf" aria-label="Username"
                               aria-describedby="basic-addon1" size="100">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('idf')}" th:errors="*{idf}">Idf Errors</div>
                        <label for="numef" class="form-label">Nume</label>
                        <input th:field="*{numef}" type="text" class="form-control" id="numef" aria-label="Username"
                               aria-describedby="basic-addon1" size="100">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('numef')}" th:errors="*{numef}">numef Errors</div>
                        <label for="adresa" class="form-label">Adresa</label>
                        <input th:field="*{adresa}" type="text" class="form-control" id="adresa" aria-label="Username"
                               aria-describedby="basic-addon1" size="100">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('adresa')}" th:errors="*{adresa}">adresa Errors</div>
                    </div>

                    <input type="submit" class="btn btn-primary" role="button" value="Adauga">

                </form>

                <br>

                <h2>Stergere furnizor</h2>
                <form action="#" th:action="@{/sterge_furnizor}" th:object="${sterge_furnizor}" method="post">
                    <div class="mb-3">
                        <label for="idf2" class="form-label">Id</label>
                        <input th:field="*{idf}" type="text" class="form-control" id="idf2" aria-label="Username"
                               aria-describedby="basic-addon1" size="100">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('idf')}" th:errors="*{idf}">Idf Errors</div>
                    </div>

                    <input type="submit" class="btn btn-primary" role="button" value="Sterge">

                </form>


                <br>

                <h2>Modificare furnizor</h2>
                <form action="#" th:action="@{/update_furnizor}" th:object="${update_furnizor}" method="post">
                    <div class="mb-3">
                        <label for="idf3" class="form-label">Id</label>
                        <input th:field="*{idf}" type="text" class="form-control" id="idf3" aria-label="Username"
                               aria-describedby="basic-addon1" size="100">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('idf')}" th:errors="*{idf}">Idf Errors</div>
                        <label for="numef3" class="form-label">Nume</label>
                        <input th:field="*{numef}" type="text" class="form-control" id="numef3" aria-label="Username"
                               aria-describedby="basic-addon1" size="100">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('numef')}" th:errors="*{numef}">numef Errors</div>
                        <label for="adresa3" class="form-label">Adresa</label>
                        <input th:field="*{adresa}" type="text" class="form-control" id="adresa3" aria-label="Username"
                               aria-describedby="basic-addon1" size="100">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('adresa')}" th:errors="*{adresa}">adresa Errors</div>
                    </div>

                    <input type="submit" class="btn btn-primary" role="button" value="Modifica">

                </form>


            </div>
        </div>
    </div>

</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>


