<!doctype html>
<html th:replace="~{layout/base_layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<main>

    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="p-3 p-lg-5 pt-lg-3">

                <h1>Interogarea 3a</h1>
                <p class="lead">Să se găsească detaliile furnizorilor a căror adresă se termină cu o cifra data în ordine
                    crescătoare a adresei.</p>

                <br>

                <table class="table table-bordered border-primary table-striped table-hover" th:if="${furnizori_3a.size() != 0}">

                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nume</th>
                        <th scope="col">Adresa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="furnizor: ${furnizori_3a}">
                        <td th:text="${furnizor.getIdf()}"></td>
                        <td th:text="${furnizor.getNumef()}"></td>
                        <td th:text="${furnizor.getAdresa()}"></td>
                    </tr>

                    </tbody>
                </table>


                <form action="#" th:action="@{/ending_for_3a}" th:object="${ending}" method="post">
                    <div class="mb-3">
                        <label for="interogation_data" class="form-label">Terminatie</label>
                        <input  th:field="*{ending}" type="text" class="form-control" id="interogation_data"
                               aria-label="Username" aria-describedby="basic-addon1" size="100">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('ending')}" th:errors="*{ending}"></div>
                    </div>

                    <input type="submit" class="btn btn-primary" role="button" value="Afiseaza">
                </form>

            </div>
        </div>
    </div>

</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>


